.filter-screen {
    background-color: var(--bg-white);
    box-shadow: 0px 30px 30px rgba(17, 31, 44, 0.25);
    width: 360px;
    height: 460px;
    overflow: auto;
    border: 1px solid rgba(28, 29, 77, 0.2);

    h4 {
        font-size: 24px !important;
        font-weight: 600 !important;
    }

    .session {
        justify-content: space-between;
        border-bottom: 1px solid #1C1D4D1A;
        align-items: center;
        padding: 7px 0px;

        p {
            font-size: 14px !important;
            font-weight: 500 !important;
        }
    }

    .ant-collapse-header {
        padding: 0px !important;
        margin-top: 17px !important;
    }

    .ant-collapse-item {
        border-bottom: 1px solid #1C1D4D1A;
        margin-bottom: 4px;

        .ant-collapse-content-box {
            padding: 0px !important;
        }
    }

    .rating-type {
        border: 0 !important;
        gap: 4px;
        margin: 14px 0px;
        justify-content: left;
        font-size: 16px !important;
        font-weight: 500 !important;

        .ant-radio-button-wrapper {
            border: 1px solid #1C1D4D;
            opacity: 0.6;
            width: 95px;
            font-size: 16px;
            font-weight: 500 !important;
        }

        .ant-radio-button-wrapper-checked {
            border: 0 !important;
            opacity: 1;
        }
    }

    .filter-input {
        margin-bottom: 22px;
        padding-bottom: 3px;

        h6 {
            font-size: 14px !important;
            font-weight: 500 !important;
            color: var(--primary);
        }

        input {
            border: 1px solid rgba(28, 29, 77, 0.20);
            width: 100%;
            background: #FFF;
            border-radius: 0%;
            height: 40px;
        }
    }
}