@use "scss/sidebar" as *;
@use "scss/navbar" as *;
@use "scss/table" as *;
@use "scss/commentModal" as *;
@use "scss/profileModal" as *;
@use "scss/playerDeatils" as *;
@use "scss/playerInformationTab" as *;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default Theme */
:root {
  --background: #F2F2F2;
  --foreground: #000000;
  --white-background: #ffffff;
  --antd-font-family: "Barlow Semi Condensed", serif;
  --primary: #1C1D4D;
  --secondary: #ccc;
  --success:#2BB650;
  --error:#C00E1E;
  --warning: #FFD000;
  --info: #ccc;
  --text-white: #fff;
  --bg-white: #fff;
}

/* Light Theme */
[data-theme="light"] {
  --background: #F2F2F2;
  --foreground: #171717;
  --white-background: #ffffff;
  --antd-font-family: "Barlow Semi Condensed", serif;
  --primary: #1C1D4D;
  --secondary: #ccc;
  --error:#ccc;
  --warning: #ccc;
  --info: #ccc;
  --text-white: #fff;
}

/* Dark Theme */
[data-theme="dark"] {
  --background: #292a5d;
  --foreground: #ededed;
  --white-background: #ffffff;
  --antd-font-family: "Barlow Semi Condensed", serif;
  --primary: #1C1D4D;
  --secondary: #ccc;
  --error:#ccc;
  --warning: #ccc;
  --info: #ccc;
  --text-white: #fff;
}

body, * {
  font-family: var(--antd-font-family);
}

a {
  color: var(--primary);
}

